#container{
    display: flex;

    overflow: hidden;
    border: 1px solid rgba(9, 0, 0, 0.192);
 
    /* display: block; */   
    /* border: none; */
    
    justify-content: center;
    flex-wrap: wrap; 
   
    
}
.image{
    display: none;
}
.flex {
    display: flex;
    justify-content: space-between;
}
input[type=password] {
    border: none;
    border-radius: 2px;
    outline: 1px solid rgb(188, 188, 188);
    height: 33px;
    /* margin-right: 2%; */
    margin-top: 3%;
    padding-left: 10px;
    width: 44%;
}